@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

/* text formatting */
body {
    font-family: 'Mulish', sans-serif;
    background-color: #f7f8fa;
    color: #333;
}

.sidebar h4 {
    color: #DDE2FF; 
    font-weight: 700; 
}

h1{
    color: #9fa2b5;
}

h2 {
    font-size: 2rem; 
    color: #252733;
    font-weight: bold;
}

h3 {
    font-size: 2.5rem; 
    font-weight: bold;
    color: #252733;
}

h5 {
    font-size: 1.25rem; 
    font-weight: bold; 
}

.gray-bolder{
    font-weight:bolder;  
    color: #9FA2B4;
}

.gray-bold{
    font-weight:300;  
    color: #9FA2B4;
}

.todays-trends h1{
    font-size: 1rem;
}

/* Sidebar Styles */
.sidebar {
    background-color: #363740;
    color: #fff;
    min-height: 100vh;
    padding-top: 20px;
    /*position: fixed;*/
}

.stay {
    position: fixed;
}

.sidebar .nav-link {
    color: #ddd;
    font-size: 0.95rem;
}

.sidebar .nav-link:hover {
    color: #fff;
    background-color: #444;
}

/* Horizontal Divider */
hr{
    color: lightgray;
}

/* Main Content Styles */

#top-divider {
    height: 40px;
    margin: 0px 20px 0px;
}

.icons {
    margin: 0px 10px 0px; 
}

main {
    padding: 20px; /* t l/r b*/
    background-color: #f7f8fa;
    min-height: 100vh;
}

.header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.card {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 20px;
}

.stats-number {
    font-size: 2rem;
    font-weight: bold;
}

.vr {
    color: gray;
    padding: 0;
}

.dark-divider {
    color: gray;
    align-self: stretch;
}

/* Task buttons */
#new-badge {
    background-color: #FEC400;
    color: white;
    border: none;
    border-radius: 10px;
}

#urgent-badge {
    background-color: #29CC97;
    color: white;
    border: none;
    border-radius: 10px;
}

.grey-badge {
    background-color: #F0F1F7;
    color: #9FA2B4;
    border: none;
    border-radius: 10px;
}