/* Sidebar Styles */
.sidebar {
    background-color: #2d2d2d;
    color: #fff;
    min-height: 100vh;
    padding-top: 20px;
    /*position: fixed;*/
}

.sidebar .nav-link {
    color: #ddd;
    font-size: 0.95rem;
}

.sidebar .nav-link:hover {
    color: #fff;
    background-color: #444;
}

/* Horizontal Divider */
hr{
    color: lightgray;
}

/* Main Content Styles */

#top-divider {
    height: 40px;
    margin: 0px 20px 0px;
}

.icons {
    margin: 0px 10px 0px; 
}

main {
    padding: 20px; /* t l/r b*/
    background-color: #f7f8fa;
    min-height: 100vh;
}

.header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.card {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 20px;
}

.stats-number {
    font-size: 2rem;
    font-weight: bold;
}

.chart-placeholder{
    height: 350px; 
    /* width: 900px;*/
    /* flex it for resizing */
    background-image: url(../assets/images/full-graph.png);
    background-size: contain;
    width:100%;
    background-color: #f8f9fa;
    border: none;
}


.vr {
    color: gray;
    padding: 0;
}

.dark-divider {
    color: gray;
    align-self: stretch;
}

/* Task buttons */
#new-badge {
    background-color: #FEC400;
    color: white;
    border: none;
    border-radius: 10px;
}

#urgent-badge {
    background-color: #29CC97;
    color: white;
    border: none;
    border-radius: 10px;
}

.grey-badge {
    background-color: #F0F1F7;
    color: #9FA2B4;
    border: none;
    border-radius: 10px;
}